@use "../variables/variables" as *;

.Main {
  margin: 0 0;
  padding: 20px 25px;
  height: $main-height;

  overflow-y: auto;
  overflow-x: hidden;

  @media only screen and (max-width: 821px) {
    margin: 0 0rem;
  }
}
